.info {
  margin-top: 30px;
  margin-bottom: 30px; }

.jumbotron {
  background-color: #87ceeb;
  margin-top: 55px;
  margin-bottom: 0; }

.col {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px; }

.img-fluid {
  width: 100%; }

.card-hotel {
  margin-top: 30px;
  margin-bottom: 0; }

footer {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
  background-color: #87ceeb; }

.breadcrumb {
  margin-top: 15px;
  margin-bottom: 0; }

.card-contacto {
  margin-top: 0;
  margin-bottom: 10px; }

.card-contacto h5 {
  margin-top: 5px;
  margin-bottom: 0; }
